/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  font-family: "Inter", serif;
  line-height: 1.5;
  color: #4A4A4A;
  background-color: #FAFAFA;
}

h1, h2 {
  font-family: "Poppins", serif;
  font-weight: 700;
  line-height: 1.25;
}

h2 {
  margin: 0;
  text-transform: uppercase;
}

.Heading {
  margin: 0 auto 0 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.Home {
  padding: 20px;
  background-color: #FFFFFF;
  margin: 0 0 60px 0;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  align-items:flex-end;
  padding: 0px;
}

ul, a {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-weight:800;
  line-height: 1.5;
  color: #4A4A4A;
  margin:0;
}

ul, a:hover {
color: #717171;
}

.container2 {
  align-items:flex-start;
}

.container3 {
  gap: 60px;
  justify-content: center;
  text-align: center;
}

 .container4, .container5 {
  gap:20px;
}

.container6 {
  align-items:center;
  background-color: transparent;
  padding: 0px;
}

img {
	max-width: 100%;
  height: auto;
}

/*=================================
  Media Queries
=================================== */
@media screen and (min-width: 1024px) {
  body {
    margin:60px auto 60px auto;
    gap: 60px;
  }

  .p2 {
    font-size: 18px;
    font-weight: regular;
    flex: 1 1 300px;
  }

  p {
    font-size: 16px;
    font-weight: regular;
    margin: 0;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    margin: 20px 0 20px 0;
  }

  .cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items:baseline;
  }

  .col {
    flex-direction: column;
    flex: 1 1 288px;
  }

  .name {
    display: flex;
    margin-right: auto;
  }

  .img-profile {
    flex: 1 1 365px;
    max-width: 100%;
    height: auto;
  }

  #Portfolio {
  margin:0 0 60px 0;
  padding: 60px 30px;
  background-color: #FFFFFF;
  }

}
