/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {  /*General styles*/
  display: flex;
  flex-direction: column;
  margin:60px auto 60px auto;
  gap: 60px;
  max-width: 90%;
  font-family: "Inter", serif;
  line-height: 1.5;
  color: #4A4A4A;
  background-color: #FAFAFA;
}
.container { /*Flex Container Styles*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.container2 {
  align-items:flex-start;
}
.container3 {
  gap: 60px;
  justify-content: center;
  text-align: center;
}
 .container4, .container5 {
  gap:20px;
}
.container6 {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0 auto 60px auto;
  max-width: 60%;
}
.container6 li {
  padding-bottom: 16px;
}
.container7 {
  align-items:center;
  background-color: transparent;
  padding: 0px;
}

.Home { /*Header Styles*/
  padding: 20px;
  background-color: #FFFFFF;
  margin: 0 0 60px 0;
}
#Portfolio { /*Portfolio section*/
margin:0 0 60px 0;
padding: 60px 30px;
background-color: #FFFFFF;
}
#Contact { /*Contact section*/
  display: block;
  max-width: 60%;
  margin: 0 auto 60px auto;
  text-align: center;
}
#Contact * {
  margin-bottom: 20px;
}
/* =================================
  Container Elements
==================================== */
.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items:baseline;
}
.col { /*Child elements of cards*/
  display: flex;
  flex-direction: column;
  flex: 1 1 288px;
  gap:20px;
}

.img-profile {/*Main block image*/
  flex: 1 1 365px;
  max-width: 100%;
  height: auto;
}
/* =================================
  Navigation and lists
==================================== */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  align-items:flex-end;
  padding: 0px;
}
ul, a {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-weight:800;
  line-height: 1.5;
  color: #4A4A4A;
  margin:0;
}
ul, a:hover {
color: #717171;
}

ol {
  margin: 0;
}
.list {
  display: flex;
  flex-direction:column;
  gap: 30px;
}
/* =================================
  Font styles
==================================== */
h1, h2 {
  font-family: "Poppins", serif;
  font-weight: 700;
  line-height: 1.25;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
.Heading { /*Headings in flex containers*/
  margin: 0 auto 0 0;
}
h3 {
  font-size: 18px;
  margin: 0px;
}
p, .p2 {
  color: #7F7F7F;
}
p {
  font-size: 16px;
  font-weight: regular;
  margin: 0;
}
.p2 {
  font-size: 18px;
  font-weight: regular;
  flex: 1 1 300px;
}
address {
  font-style: normal;
  line-height: 2;
}
address a {
  text-transform: none;
  font-size: 20px;
}
/* =================================
  Images and outlines
==================================== */
img {
	max-width: 100%;
  height: auto;
}
hr {
  border: 1px solid #E8E8E8;
}

/*=================================
  Media Queries
=================================== */
@media screen and (min-width: 768px) {

}
